USE [QuanLiBanGiay]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaCTDH] [varchar](10) NOT NULL,
	[MaDH] [varchar](10) NULL,
	[MaSP] [varchar](10) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NULL,
	[NgayDat] [date] NULL,
	[TongTien] [decimal](12, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [varchar](10) NOT NULL,
	[TenKM] [nvarchar](100) NULL,
	[PhanTramGiam] [decimal](5, 2) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoai] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[MaMau] [varchar](10) NOT NULL,
	[TenMau] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](10) NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](150) NULL,
	[Gia] [decimal](10, 2) NULL,
	[SoLuongTon] [int] NULL,
	[MaLoai] [varchar](10) NULL,
	[MaNCC] [varchar](10) NULL,
	[MaKM] [varchar](10) NULL,
	[MaSize] [varchar](10) NULL,
	[MaMau] [varchar](10) NULL,
	[MaTH] [varchar](10) NULL,
	[MoTa] [nvarchar](300) NULL,
	[HinhAnh] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeGiay]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeGiay](
	[MaSize] [varchar](10) NOT NULL,
	[KichCo] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 21/11/2025 11:10:25 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MaTH] [varchar](10) NOT NULL,
	[TenTH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (N'CT01', N'DH01', N'SP01', 1, CAST(3200000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (N'CT02', N'DH01', N'SP12', 1, CAST(1500000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaCTDH], [MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (N'CT03', N'DH02', N'SP02', 1, CAST(4500000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayDat], [TongTien], [TrangThai]) VALUES (N'DH01', N'KH01', CAST(N'2025-11-01' AS Date), CAST(3500000.00 AS Decimal(12, 2)), N'Hoàn tất')
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayDat], [TongTien], [TrangThai]) VALUES (N'DH02', N'KH02', CAST(N'2025-11-02' AS Date), CAST(4200000.00 AS Decimal(12, 2)), N'Đang giao')
INSERT [dbo].[DonHang] ([MaDH], [MaKH], [NgayDat], [TongTien], [TrangThai]) VALUES (N'DH03', N'KH03', CAST(N'2025-11-03' AS Date), CAST(1800000.00 AS Decimal(12, 2)), N'Hoàn tất')
GO
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [Email], [DiaChi]) VALUES (N'KH01', N'Nguyễn Văn A', N'0901111111', N'a@gmail.com', N'Hồ Chí Minh')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [Email], [DiaChi]) VALUES (N'KH02', N'Trần Thị B', N'0902222222', N'b@gmail.com', N'Hà Nội')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SoDienThoai], [Email], [DiaChi]) VALUES (N'KH03', N'Lê Minh C', N'0903333333', N'c@gmail.com', N'Đà Nẵng')
GO
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [PhanTramGiam], [NgayBatDau], [NgayKetThuc]) VALUES (N'KM01', N'Giảm 10%', CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date))
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [PhanTramGiam], [NgayBatDau], [NgayKetThuc]) VALUES (N'KM02', N'Giảm 20%', CAST(20.00 AS Decimal(5, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date))
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [PhanTramGiam], [NgayBatDau], [NgayKetThuc]) VALUES (N'KM03', N'Giảm 5%', CAST(5.00 AS Decimal(5, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date))
GO
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai]) VALUES (N'L01', N'Giày Sneaker')
GO
INSERT [dbo].[MauSac] ([MaMau], [TenMau]) VALUES (N'M01', N'Trắng')
INSERT [dbo].[MauSac] ([MaMau], [TenMau]) VALUES (N'M02', N'Đen')
INSERT [dbo].[MauSac] ([MaMau], [TenMau]) VALUES (N'M03', N'Xanh')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (N'NCC01', N'Nike Việt Nam', N'HCM', N'0280000001', N'nike@sup.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (N'NCC02', N'Adidas Việt Nam', N'HCM', N'0280000002', N'adidas@sup.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SoDienThoai], [Email]) VALUES (N'NCC03', N'Puma Asia', N'Hà Nội', N'0280000003', N'puma@sup.com')
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TenDangNhap], [MatKhau], [ChucVu]) VALUES (N'NV01', N'Nguyễn Văn A', N'admin', N'123', N'Admin')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [TenDangNhap], [MatKhau], [ChucVu]) VALUES (N'NV02', N'Trần Thị B', N'nhanvien', N'123', N'Nhân viên')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [SoLuongTon], [MaLoai], [MaNCC], [MaKM], [MaSize], [MaMau], [MaTH], [MoTa], [HinhAnh]) VALUES (N'SP01', N'Nike Air Max 97', CAST(3200000.00 AS Decimal(10, 2)), 50, N'L01', N'NCC01', N'KM01', N'S41', N'M01', N'TH01', N'HOT', N'sp01.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [SoLuongTon], [MaLoai], [MaNCC], [MaKM], [MaSize], [MaMau], [MaTH], [MoTa], [HinhAnh]) VALUES (N'SP02', N'Nike Jordan 4', CAST(3200000.00 AS Decimal(10, 2)), 20, N'L01', N'NCC01', N'KM03', N'S44', N'M01', N'TH09', N'Jordan 4 Hot mới ', N'SP02.jpg')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Gia], [SoLuongTon], [MaLoai], [MaNCC], [MaKM], [MaSize], [MaMau], [MaTH], [MoTa], [HinhAnh]) VALUES (N'SP06', N'Adidas Superstar', CAST(2500000.00 AS Decimal(10, 2)), 55, N'L01', N'NCC02', N'KM01', N'S38', N'M01', N'TH02', N'Kinh điển', N'sp06.jpg')
GO
INSERT [dbo].[SizeGiay] ([MaSize], [KichCo]) VALUES (N'S36', N'36')
INSERT [dbo].[SizeGiay] ([MaSize], [KichCo]) VALUES (N'S37', N'37')
INSERT [dbo].[SizeGiay] ([MaSize], [KichCo]) VALUES (N'S38', N'38')
GO
INSERT [dbo].[ThuongHieu] ([MaTH], [TenTH]) VALUES (N'TH01', N'Nike')
INSERT [dbo].[ThuongHieu] ([MaTH], [TenTH]) VALUES (N'TH02', N'Adidas')
INSERT [dbo].[ThuongHieu] ([MaTH], [TenTH]) VALUES (N'TH03', N'Puma')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__55F68FC085065561]    Script Date: 21/11/2025 11:10:25 SA ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPham] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaMau])
REFERENCES [dbo].[MauSac] ([MaMau])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaSize])
REFERENCES [dbo].[SizeGiay] ([MaSize])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaTH])
REFERENCES [dbo].[ThuongHieu] ([MaTH])
GO
